[Unit]
Description=Run Telos Reth readiness checks (%i)

[Timer]
OnBootSec=45s
OnUnitActiveSec=30s
AccuracySec=1s
RandomizedDelaySec=3s
Unit=telos-reth-readiness@%i.service

[Install]
WantedBy=timers.target
